{% extends "main.html" %}

{% block content %}
    <h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
    <div> Здесь может содержаться персональная информация для каждого пользователя</div>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Выйти">
    </form>
    <br>
    {% if is_not_authors %}
        <form action="{% url 'upgrade' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Стать автором">
        </form>
    {% endif %}


{% endblock %}